.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#posthousing {
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  /* border: red solid 2px; */
  border-radius: 20px;
  margin: 100px 300px;
}

#image {
  background-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: auto auto;
  padding: 100px 100px;
  color: aliceblue;
}
#posttextcontent {
  border: black solid 1px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: auto auto;
  padding: 25px 95px;
}