#bodyid {
    display: inline-block;
}
.App {
  background-color: whitesmoke;
}

#homepagecontainer {
    text-align: center;
    margin: 30px;
}

#welcometitle {
    margin: auto auto 50px 30px;
    font-size: 4em;
    color: #131313;
    border-bottom: black solid 2px;
    border-left: black solid 2px;
    border-radius: 10px;
    letter-spacing: .15em;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

#createbutton {
    display: block;
    padding: 20px 60px;
    margin: 0 auto;
    border-radius: 10px;
    border-color: black;
    box-shadow: -4px 5px 0px 0px rgba(0,0,0,0.75);
}
#createbutton:hover{
    padding: 20px 60px;
    border-radius: 10px;
    border-color: gray;
    color: white;
    background-color: red;
    box-shadow: -4px 5px 0px 0px rgba(0,0,0,0.75);
}

#posthousing {
    display: inline-block;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
    max-height: 200px;
    max-width: 500px;
    margin: 10px 10px;
    overflow: scroll;
  }

  #posthousing:hover {
    display: inline-block;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
    border: red solid 2px;
    max-height: 200px;
    max-width: 500px;
    margin: 10px 10px;
    overflow: scroll;
  }
  
  #image {
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: auto auto;
    /* padding: 100px 100px; */
    color: aliceblue;
  }
  #posttextcontent {
    border: black solid 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: auto auto;
    padding: 25px 95px;
  }

#infolist {
    display: flex;
}

#title {
    margin-left: 25px;
}

#manufacture {
    margin-left: 25px;
}

#model {
    margin-left: 25px;
}